.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1337px;
}

.u-section-1 .u-shape-1 {
  width: 148px;
  height: 148px;
  margin: -84px 506px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 128px;
  height: 128px;
  margin: -138px auto 0 496px;
}

.u-section-1 .u-text-1 {
  margin: -128px auto 0 180px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  margin: 59px 30px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 74px auto 0 -60px;
}

.u-section-1 .u-form-1 {
  height: 124px;
  margin: 37px 618px 0 -48px;
}

.u-section-1 .u-btn-2 {
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 79px auto 0 -48px;
}

.u-section-1 .u-form-2 {
  height: 124px;
  margin: 30px 618px 0 -48px;
}

.u-section-1 .u-btn-3 {
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px auto 0 -48px;
}

.u-section-1 .u-form-3 {
  height: 124px;
  margin: 30px 618px 0 -48px;
}

.u-section-1 .u-btn-4 {
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px auto 0 -48px;
}

.u-section-1 .u-form-4 {
  height: 124px;
  margin: 30px 618px 0 -48px;
}

.u-section-1 .u-btn-5 {
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px auto 0 -48px;
}

.u-section-1 .u-form-5 {
  height: 124px;
  margin: 30px 618px 60px -48px;
}

.u-section-1 .u-btn-6 {
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 518px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 418px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 418px;
  }

  .u-section-1 .u-form-4 {
    margin-right: 418px;
  }

  .u-section-1 .u-form-5 {
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 408px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 198px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 198px;
  }

  .u-section-1 .u-form-4 {
    margin-right: 198px;
  }

  .u-section-1 .u-form-5 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-right: 392px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 412px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 318px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-3 {
    margin-right: 0;
  }

  .u-section-1 .u-form-4 {
    margin-right: 0;
  }

  .u-section-1 .u-form-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-right: 192px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 212px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    margin-right: 218px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }
}